.backImag{
     background-image: url("https://t4.ftcdn.net/jpg/04/08/09/97/360_F_408099779_apoYIubT8NLBT78ZAPKyAqhxenHsRhJs.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
      height: 900px;
      width: 100%;
}
.card-cont{
    width: 600px;
    height: 600px;
   margin-top: 10%;
}
